################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FashionWebsite.API.csproj.user
/Content/Images/Products
/bin
/obj
